# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.tower.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\unityPro\tower\.idea\.idea.tower\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
